* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #EEE;
}

.container {
  width     : 600px;
  height    : 100%;
  margin    : 0 auto;
  background: white;
  box-shadow: 0px 0px 8px gray;
}

.container >header {
  padding   : 16px 0 16px 0;
  text-align: center;
  font      : bold 32px/32px Helvetica;
}

.logo-icon {
  width : 48px;
  height: 48px;
  vertical-align: bottom;
}

.content {
  width : 100%;
  margin: 16px 0;
  font  : 16px sans-serif;
  border-collapse: collapse;
}

.content th,
.content td {
  padding   : 24px;
  border-top: 1px solid #E0E0E0;
}
.content th {
  width     : 240px;
  text-align: right;
}
.content td {
  text-align: left;
}

[data-hover-description]:hover {
  background: #F0F0F0;
}
#hover-description-box {
  width   : 100%;
  height  : 32px;
  overflow: hidden;
  font    : 13px/16px sans-serif;
}
